.PasswordConfirm {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.88);
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    margin: auto;
}

.PasswordConfirm__container {
    margin: 40px auto 0 auto;
    max-width: 350px;
}

.PasswordConfirm__header {
    font-weight: bold;
    font-size: .9rem;
    text-align: center;
    margin-bottom: 30px;
}

.AccountSettingsConfirmForm {
    margin-top: 0;
}

.PasswordConfirm__message {
    font-size: 0.7rem;
}
