.PasswordFields__container {
    display: flex;
    flex-direction: column;
}

.PasswordFields>.PasswordInput {
    margin-bottom: 25px;
}

.PasswordFields__error {
    font-size: .7rem;
}

@media only screen and (min-width: 570px) {
    .PasswordFields__container {
        display: flex;
        flex-direction: row;
        margin-bottom: 25px;
    }

    .PasswordFields__container>.PasswordInput {
        margin-bottom: 0;
    }

    .PasswordFields__container>.PasswordInput:first-child {
        margin-right: 10px;
    }

    .PasswordFields__container>.PasswordInput:last-child {
        margin-left: 10px;
    }
}
