.UpdatePostView {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    width: 100vw;
}

.UpdatePostView__window {
    background: rgba(0, 0, 0, 0.84);
    height: fit-content;
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 20px 30px;
    width: 100%;
    max-width: 600px;
    margin: 20px;
}

.UpdatePostView__container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}
