.TravelForm {width: 100%;}

.TravelForm>.ShortTextInput  {margin-bottom: 25px;}

.TravelForm>.LongTextInput  {margin-bottom: 15px;}

.TravelForm>.PasswordInput  {margin-bottom: 25px;}

.TravelForm>.FileInput  {margin-bottom: 15px;}

.TravelForm__button-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.TravelForm__button-container>.WhiteButton {
    margin: 10px;
}
