.WhiteButton {
    height: 26px;
    border-radius: 17px;
    color: rgba(0, 0, 0, 0.94);
    font-weight: 700;
    border: none;
    background: rgba(255, 255, 255, 0.96);
    padding: 0 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.WhiteButton:hover {
    background: rgba(227, 227, 227, 0.96);
}

.WhiteButton:active {
    background: rgba(190, 190, 190, 0.96);
}
