.LoginView {
    background: rgba(0, 0, 0, 0.84);
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    padding: 20px 30px;
    width: 95%;
    max-width: 500px;
    overflow-x: auto;
}

.LoginView__container {
    display: flex;
    max-width: 300px;
    margin: 0 auto;
    flex-direction: column;
}

.LoginView>.ViewTitle {margin-bottom: 30px;}

.LoginView__TextButton {
    font-size: .8rem;
    text-decoration: none;
    position: relative;
    margin: 10px auto;
    font-weight: 500;
}

.LoginView_message {font-size: .7rem;}

@media only screen and (min-width: 350px) {
    .LoginView {
        width: 80%;
        padding: 20px;
    }

    .LoginView__container {
        margin: 0 auto;
    }
}

@media only screen and (min-width: 450px) {
    .LoginView {width: 80%;}
}

