.PasswordInput {
    background: none;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.9);
    height: 30px;
    width: 100%;
    font-size: .9rem;
}

.PasswordInput:focus {
    outline: none;
}

.PasswordInput::placeholder {
    color: rgba(255, 255, 255, 0.67);
    font-size: .8rem;
    font-weight: lighter;
}
