.DateBetweenFields {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.DateBetweenFields>label {
    width: 100%;
    font-size: .85rem;
}

.DateBetweenFields>label {
    margin-bottom: 25px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: url(../../../assets/calendar.svg) no-repeat;
    cursor: pointer;
}

@media only screen and (min-width: 570px) {
    .DateBetweenFields {
        display: flex;
        flex-direction: row;
        margin-bottom: 25px;
    }

    .DateBetweenFields>label {
        margin-bottom: 0;
    }

    .DateBetweenFields>label:first-child {
        margin-right: 10px;
    }

    .DateBetweenFields>label:last-child {
        margin-left: 10px;
    }
}
