.IconButton {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
    transition: transform .25s;
    border: 1px solid white;
}

.IconButton>i {
    font-size: 1.2rem;
}

.IconButton:hover {
    transform: scale(1.05);
}

.IconButton:active {
    transform: scale(1.1);
}
