.UpdateAccountForm {width: 100%;}

.UpdateAccountForm>.ShortTextInput  {margin-bottom: 25px;}

.UpdateAccountForm>.LongTextInput  {margin-bottom: 15px;}

.UpdateAccountForm>.PasswordInput  {margin-bottom: 25px;}

.UpdateAccountForm>.FileInput  {margin-bottom: 35px;}

.UpdateAccountForm__buton-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.UpdateAccountForm__buton-container>.WhiteButton {
    margin: 5px;
}
