.SignupView {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    width: 100vw;
}

.SignupView__window {
    background: rgba(0, 0, 0, 0.84);
    height: fit-content;
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 20px 30px;
    width: 100%;
    max-width: 600px;
    margin: 20px;
}

.SignupView__container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.SignupView__window>.ViewTitle {margin-bottom: 30px;}

.SignupView__TextButton {
    font-size: .8rem;
    text-decoration: none;
    position: relative;
    margin: 10px auto;
    font-weight: 500;
}

