.SignupView {
    background: rgba(0, 0, 0, 0.84);
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    padding: 20px 10px;
    width: 95%;
    max-height: 90vh;
    overflow: auto;
}

.SignupView__container {
    display: flex;
    flex-direction: column;
    max-width: 390px;
    margin: 0 10px;
}

.SignupView>.ViewTitle {
    margin-bottom: 30px;
}

.SignupView__TextButton {
    font-size: .8rem;
    text-decoration: none;
    position: relative;
    margin: 10px auto;
    font-weight: 500;
}

.SignupView_message {
    font-size: .7rem;
}

@media only screen and (min-width: 350px) {
    .SignupView {
        width: 90%;
        padding: 20px;
    }

    .SignupView__container {
        margin: 0 20px;
    }
}

@media only screen and (min-width: 450px) {
    .SignupView {
        width: 80%;
    }

    .SignupView__container {
        margin: 0 50px;
    }
}

@media only screen and (min-width: 570px) {
    .SignupView {
        width: 550px;
    }
}

