.FriendRequestsList {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

.FriendRequestsList>h3 {
    margin: 7px;
}

.FriendRequestsList>.LoadingSpinner div {
    background: rgba(255, 255, 255, 0.77);
}

.FriendRequestsList hr {
    width: 90%;
    margin: 40px auto;
}
