.GoBackButton {
    border: none;
    background: rgba(0, 0, 0, 0.8);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.GoBackButton>i{
    font-size: 1.6rem;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.GoBackButton:hover {
    transform: scale(1.05);
}

.GoBackButton:active {
    transform: scale(1.1);
}
