.UserAccountView {
    background: rgba(0, 0, 0, 0.84);
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    padding: 20px 10px;
    width: 95%;
    max-width: 600px;
    overflow-x: auto;
    margin: 50px 0;
}

.UserAccountView__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 350px;
}

.UserAccountView>.ViewTitle {
    margin-bottom: 30px;
}

.UserAccountView__TextButton {
    font-size: .8rem;
    text-decoration: none;
    position: relative;
    margin: 10px auto;
    font-weight: 500;
}

.UserAccountView_message {
    font-size: .7rem;
}

@media only screen and (min-width: 350px) {
    .UserAccountView {width: 80%;}
}

